<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /POC-PHP-O/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?params=$1 [QSA,L]
</IfModule>
